@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7f8c8d;
    font-family: "Work Sans",sans-serif;
    
}
.user{
    background-color: #95a5a6;
    border-radius: 10px;
    /* display: grid; */
    /* grid-template-columns: repeat(1,3fr); */
    /* grid-template-rows: repeat(1,3fr); */
    /* grid-gap: 40px; */
    margin-top: 20px;
    height: 90px;
    margin-right: 20px;
    margin-left: 20px;
}
h2{
    text-align: center;
    padding: 10px;
    color : #000000ef;
    text-shadow: 2px 2px 5px #fff;
}
p{
    color: #fff;
    line-height: 20px;
    text-shadow: 2px 2px 5px black;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}